.nav {
    background-color: #333;
    box-sizing: border-box;
    color: white;
    justify-content: space-between;
    width: 100%;
    display: flex;
    align-items: stretch;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 2rem;
    top:0;
    position:fixed;
}

.thread-list {
    font-size: 3rem;
    align-self: center;
}

.logout {
    font-size: 1.5rem;
    padding: 0 1rem;
    display: flex;
    align-self: center;
}

.nav ul {
    padding: 1rem;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

.nav a {
    color: inherit;
    text-decoration: none;
    align-items: center;
    padding: 0.25rem;
}


.nav li.hover {
    background-color: #777;
}

.nav li.active {
    background-color: #555;
}